<strong>Olá {{ owner_name }}</strong>
<p>Um novo usuário registrou</p>
<p>
  <strong>Meetup: </strong> {{ meetup_title }} - ({{date}})
  <strong>Nome: </strong> {{ user_name }}<br />
  <strong>E-mail: </strong> {{ user_email }}<br />

</p>
